@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');
:root {
    --grey-div-background: #CED4DA;
    --grey-font-color: #212529;
    --font: "Open Sans", sans-serif;
}

* {
    font-family: var(--font);
}