.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey-bg);
    row-gap: 2rem;
    padding: 3rem 1rem;
}

.about-me p {
    text-align: justify;
}

.about-me__desktop {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.about-me__desktop-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    max-width: 400px;
}

@media screen and (min-width: 1024px) {
    .about-me {
        box-shadow: 0px 0px 2.9px rgba(0, 0, 0, 0.044), 0px 0px 9.8px rgba(0, 0, 0, 0.066), 0px 0px 44px rgba(0, 0, 0, 0.11);
        padding: 3rem 0;
    }
    .about-me h2 {
        margin-bottom: 3rem;
    }
    .about-me__desktop {
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
        gap: 0 10rem;
    }
    .about-me__desktop-box {
        display: flex;
        flex-direction: column;
    }
    .about-me__desktop-box h3 {
        align-self: center;
    }
    .about-me__desktop-box p {
        text-align: center;
    }
}