    #contact {
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        row-gap: 3rem;
    }
    
    .contact__information {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        margin-bottom: 3rem;
    }
    
    .contact__media {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .contact__media-list {
        display: flex;
        align-self: center;
        column-gap: 1rem;
    }
    
    .contact__email {
        width: 70vw;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    
    .contact__email-form {
        display: flex;
        flex-direction: column;
        row-gap: 0.8rem;
    }
    
    .contact__email-form--field {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .contact__email-form--field input,
    textarea {
        border: 1px solid var(--black);
        border-radius: 7px;
        padding: 0.5rem 0 0.5rem 0.7rem;
    }
    
    .contact__email-form--field textarea {
        resize: none;
        height: 100px;
    }
    
    .contact__email-form--button button {
        width: 100%;
        padding: 0.5rem 0;
        border: 1px solid var(--grey1);
        background-color: var(--btn);
        border-radius: 7px;
        color: var(--black);
        font-weight: 700;
        font-size: 0.75rem;
        align-self: flex-end;
        text-align: center;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .contact__email-form--button button:hover {
        background-color: var(--btn-hover);
    }
    
    @media screen and (min-width: 1024px) {
        .contact__desktop {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 100%;
            max-width: 1400px;
        }
        .contact__email-form--field label {
            align-self: flex-start;
        }
        .contact__email-form--button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .contact__email-form--button button {
            width: 30%;
        }
    }