#contact {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 3rem;
}

.contact2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.contact__information {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.contact__media {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact__media-list {
    width: 100vw;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
}

.contact__email {
    width: 70vw;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact__email-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}

.contact__email-form--field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact__email-form--field input,
textarea {
    border: 1px solid var(--black);
    border-radius: 7px;
    padding: 0.5rem 0 0.5rem 0.7rem;
}

.contact__email-form--field textarea {
    resize: none;
}

.contact__email-form--button button {
    width: 100%;
    padding: 0.5rem 0;
    border: 1px solid var(--grey1);
    background-color: var(--btn);
    border-radius: 7px;
    color: var(--black);
    font-weight: 700;
    font-size: 0.75rem;
    align-self: center;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

.contact__email-form--button button:hover {
    background-color: var(--btn-hover);
}

@media screen and (min-width: 1024px) {
    #contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    #contact h2 {
        align-self: center;
    }
    .contact2 {
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    .contact1 {
        display: flex;
        flex-direction: column;
    }
    .contact__media-list {
        width: auto;
        gap: 2rem;
    }
    .contact__email {
        max-width: 40%;
        align-self: flex-end;
    }
    .contact__email-form--field {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contact__email-form--field input,
    textarea {
        width: 70%;
    }
    .contact__email-form--field textarea {
        height: 6rem;
    }
    .contact__email-form--button {
        align-self: flex-end;
        width: 30%;
    }
}