dl,
ol,
ul {
    margin: 0 0;
    padding: 0 0;
}

.footer {
    margin-top: 4rem;
    padding: 1rem 0.5rem;
    box-shadow: 25px 0px 65px rgba(0, 0, 0, 0.07);
    background-color: var(--nav-grey-bg);
}

.footer__navigation {
    display: flex;
    justify-content: space-around;
}