.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 6rem 0;
}

.main__desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__photo {
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    max-width: 170px;
}

.main__title {
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: var(--grey-font-color2);
}

.main__title span {
    color: var(--grey1);
}

.main p {
    font-weight: 400;
    font-size: 1.1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 1024px) {
    .main {
        flex-direction: row;
        justify-content: space-around;
    }
    .main__desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1400px;
    }
    .main__photo {
        border-width: 2px;
    }
    .main__title {
        font-size: 3rem;
    }
}