.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

.main__photo {
    width: 100vw;
    border-radius: 50%;
    max-width: 60%;
}

.main__title {
    margin-top: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    color: var(--grey-font-color2);
}

.main__title span {
    color: var(--grey1);
}

.main p {
    font-weight: 400;
    font-size: 1.1rem;
}