@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3rem;
    font-size: 2rem;
}

main {
    margin: 8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bold {
    font-weight: 700;
}

.button {
    align-self: center;
    padding: .5rem .8rem;
    border-radius: 20px;
    background-color: #ADB5BD;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    transition: .3s;
}

.button:hover {
    background-color: #6C757D;
}

.messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.messages__box {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    padding: 2rem 1rem;
    border-radius: 5px;
}

.messages__box:nth-of-type(even) {
    background-color: #E9ECEF;
}

.messages__box-message {
    text-align: justify;
    line-height: 1.5rem;
}