.portfolio {
    padding: 4rem 1rem;
    background-color: var(--grey-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.portfolio__section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--nav-grey-bg);
    border-radius: 10px;
    width: 80vw;
    max-width: 400px;
    transition: 0.3s;
    row-gap: 1rem;
}

.portfolio__section:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 0px 25px 65px rgba(0, 0, 0, 0.15);
}

.project-image {
    max-width: 250px;
    border-radius: 8px;
}

.portfolio__section-technologies {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.tech-icon {
    width: 35px;
}

.portfolio__section p {
    line-height: 2rem;
    font-size: 1.2rem;
    text-align: center;
}

.portfolio__section-buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    font-weight: 700;
}

.portfolio__section-buttons a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 1px solid var(--grey1);
    border-radius: 7px;
    color: var(--black);
    background-color: var(--btn);
    transition: 0.3s;
}

.portfolio__section-buttons a:hover {
    background-color: var(--btn-hover);
}

@media screen and (min-width: 1024px) {
    .portfolio {
        box-shadow: 0px 0px 2.9px rgba(0, 0, 0, 0.044), 0px 0px 9.8px rgba(0, 0, 0, 0.066), 0px 0px 44px rgba(0, 0, 0, 0.11);
    }
    .portfolio__container {
        flex-direction: row;
        column-gap: 2rem;
    }
}