@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@400;700&display=swap');
:root {
    --open-sans: 'Open Sans', sans-serif;
    --black: #212529;
    --grey1: #6C757D;
    --grey-bg: #E9ECEF;
    --nav-grey-bg: #F8F9FA;
}

* {
    font-family: var(--open-sans);
    color: var(--black);
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
}

h3 {
    font-size: 1.2rem;
}