#technologies {
    display: flex;
    justify-content: center;
}

.technologies {
    margin: 0 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
    row-gap: 3rem;
}

.technologies__desktop {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.technologies__tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.technologies__tech article>h3 {
    margin-bottom: .5rem;
}

@media screen and (min-width: 1024px) {
    .technologies {
        padding-bottom: 1rem;
    }
    .technologies__desktop {
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        column-gap: 3rem;
    }
}