<div class="about-me">
    <h2 id="sobre">Sobre mim</h2>
    <div class="about-me__desktop">
        <div class="about-me__desktop-box">
            <h3 id="formacao">Formação</h3>
            <p>Estudante de Ciência e Tecnologia na UFBA e Residente do Programa de Residência em Software da ed com a UniRio.</p>
        </div>
        <div class="about-me__desktop-box">
            <h3>Atuação profissional</h3>
            <p>Traine na InfoJr, Empresa Junior de Informática da UFBA. Atualmente alocado na diretoria comercial e integrante do núcleo de desenvolvimento web.</p>
        </div>
    </div>
</div>