<h2 class="contact__title">Contato</h2>
<div class="contact__desktop">
    <div class="contact__information">
        <h3>Endereço e telefone</h3>
        <address class="contact__address">
            <article>
                <p>
                    <a href="tel:+5571999999999" class="institucional__contato-telefone">(71) 999 999 999</a>
                </p>
            </article>
        </address>
        <div class="contact__media">
            <h3>Redes sociais</h3>
            <ul class="contact__media-list">
                <li>
                    <a href="https://www.linkedin.com/in/kaio-pedreira-a23a261b7/" target="_blank"><img src="assets/img/icons/linkedin.svg" alt="LinkedIn"></a>
                </li>
                <li>
                    <a href="https://github.com/kaiocp" target="_blank"><img src="assets/img/icons/github.svg" alt="GitHub"></a>
                </li>
                <li>
                    <a href="https://gitlab.com/kaiocp" target="_blank"><img src="assets/img/icons/gitlab.svg" alt="GitLab"></a>
                </li>
            </ul>
        </div>
    </div>
    <fieldset class="contact__email">
        <h3>Entre em contato por e-mail</h3>
        <form action="" class="contact__email-form">
            <div class="contact__email-form--field">
                <label for="name">Nome</label>
                <input name="name" type="text" placeholder="Seu nome" id="form-field">
            </div>
            <div class="contact__email-form--field">
                <label for="email">E-mail</label>
                <input name="email" type="text" placeholder="Seu melhor e-mail" id="form-field">
            </div>
            <div class="contact__email-form--field">
                <label for="message">Mensagem</label>
                <textarea name="message" placeholder="Escreva sua mensagem" id="form-field"></textarea>
            </div>
            <div class="contact__email-form--button">
                <button type="submit" name="enviar">Enviar</button>
            </div>
        </form>
    </fieldset>
</div>

<script src="assets/js/messages.js"></script>