<!-- contatos pessoais (endereço, telefone) -->
<h2 class="contact__title">Contato</h2>
<div class="contact__content">
    <div class="contact__information">
        <h3>Endereço e telefone</h3>
        <address class="contact__address">
            Rua da Palmeira, 95<br>
            Barra, Salvador/BA
            <article class="institucional__contato">
                <p>
                    <a href="tel:+5571981615607" class="institucional__contato-telefone">(71) 981 615 607</a>
                </p>
            </article>
        </address>
    </div>
</div>


<!-- links para redes sociais (footer) -->
<div>
    <h3>Redes sociais</h3>
    <ul>
        <li>
            <a href="#"><img src="icons/linkedin.svg" alt="Ícone do LinkedIn"></a>
        </li>
        <li>
            <a href="#"><img src="icons/github.svg" alt="Ícone do GitHub"></a>
        </li>
        <li>
            <a href="#"><img src="icons/gitlab.svg" alt="Ícone do GitLab"></a>
        </li>
    </ul>
</div>

<!-- email form -->

<fieldset>
    <h3>Entre em contato por e-mail</h3>
    <form action="">
        <label>Nome</label>
        <input type="text" placeholder="Seu nome">
        <label>E-mail</label>
        <input type="text" placeholder="Seu melhor e-mail"></form>
    <label>Mensagem</label>
    <textarea placeholder="Escreva sua mensagem"></textarea>
</fieldset>