<div class="footer">
    <ul class="footer__navigation">
        <li>
            <a href="https://www.linkedin.com/in/kaio-pedreira-a23a261b7/" target="_blank" class=" footer__media"><img src="assets/img/icons/linkedin.svg " alt="Ícone do LinkedIn "></a>
        </li>
        <li>
            <a href="https://github.com/kaiocp " target="_blank" class="footer__media"><img src="assets/img/icons/github.svg" alt="Ícone do GitHub"></a>
        </li>
        <li>
            <a href="https://gitlab.com/kaiocp" target="_blank" class="footer__media "><img src="assets/img/icons/gitlab.svg " alt="Ícone do GitLab "></a>
        </li>
    </ul>
</div>