<div class="header">
    <a href="#main" class="header__title">KaioP</a>
    <nav class="header__nav">
        <a class="header__nav-btn-mobile" id="btn"><img src="/assets/img/icons/menu-svgrepo-com.svg" alt="Menu"></a>
        <ul class="header__menu">
            <li>
                <a href="#about-me" class="header__menu-link">Sobre Mim</a>
            </li>
            <li>
                <a href="#formacao" class="header__menu-link">Formação</a>
            </li>
            <li>
                <a href="#atuacao" class="header__menu-link">Atuação Profissional</a>
            </li>
            <li>
                <a href="#contact" class="header__menu-link">Contato</a>
            </li>
            <li>
                <a href="#portfolio" class="header__menu-link">Portfólio</a>
            </li>
        </ul>
    </nav>
</div>

<script src="assets/js/header.js"></script>