<div class="header">
    <a href="#main" class="header__title">KaioP</a>
    <nav class="header__nav">
        <a class="header__nav-btn-mobile" id="btn"><img src="/assets/img/icons/menu-svgrepo-com.svg" alt="Menu"></a>
        <ul class="header__menu">
            <li>
                <a href="#sobre">Sobre Mim</a>
            </li>
            <li>
                <a href="#formacao">Formação</a>
            </li>
            <li>
                <a href="#atuacao">Atuação Profissional</a>
            </li>
            <li>
                <a href="#contato">Contato</a>
            </li>
            <li>
                <a href="#porfolio">Portfólio</a>
            </li>
        </ul>
    </nav>
</div>

<script src="assets/js/header.js"></script>