<div class="portfolio">
    <h2>Portfólio</h2>
    <div class="portfolio__container">
        <div class="portfolio__section">
            <h3>WeLoveDogs</h3>
            <img src="/assets/img/welovedogs.png" alt="" class="project-image">
            <ul class="portfolio__section-technologies">
                <li>
                    <a href="#html"><img src="/assets/img/icons/html-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#css"><img src="/assets/img/icons/css-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
            </ul>
            <p>Uma página para pessoas apaixonadas por cachorros.</p>
            <div class="portfolio__section-buttons">
                <a href="#">Repo</a>
                <a href="#">Live</a>
            </div>
        </div>
        <div class="portfolio__section">
            <h3>Dark Mode Personal Page</h3>
            <img src="/assets/img/personal-page.png" alt="" class="project-image">
            <ul class="portfolio__section-technologies">
                <li>
                    <a href="#html"><img src="/assets/img/icons/html-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#css"><img src="/assets/img/icons/css-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#js"><img src="/assets/img/icons/js-square-svgrepo-com.svg" alt="" class="tech-icon"></a>
                </li>
            </ul>
            <p>Página pessoal com a feature dark-mode.</p>
            <div class="portfolio__section-buttons">
                <a href="#">Repo</a>
                <a href="#">Live</a>
            </div>
        </div>
        <div class="portfolio__section">
            <h3>Movie Corner</h3>
            <img src="/assets/img/movie-corner.png" alt="" class="project-image">
            <ul class="portfolio__section-technologies">
                <li>
                    <a href="#html"><img src="/assets/img/icons/html-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#css"><img src="/assets/img/icons/css-fill-svgrepo-com.svg" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#js"><img src="/assets/img/icons/js-square-svgrepo-com.svg" alt="" class="tech-icon"></a>
                </li>
                <li>
                    <a href="#node"><img src="/assets/img/icons/node-svgrepo-com.svg" alt="" class="tech-icon"></a>
                </li>
            </ul>
            <p>Página que consome a <a href="https://www.themoviedb.org/documentation/api" target="_blank">API do The Movie DB</a> e exibe os filmes mais recentes.</p>
            <div class="portfolio__section-buttons">
                <a href="#">Repo</a>
                <a href="#">Live</a>
            </div>
        </div>
    </div>
</div>