<!-- Sugestões de informações: 
    1) nome, 
    2) site oficial, 
    3) definição da tecnologia, 
    4) 3 prós, 
    5) 3 limitações
    6) e 6 grandes projetos que utilizam a tecnologia. -->

<div class="technologies">
    <h2>Ferramentas</h2>
    <div class="technologies__tech">
        <h3>HTML 5</h3>
        <article>
            <p>Conhecido como Linguagem de Marcação de Hipertexto (ou, em inglês, <span>Hypertext Markup Language</span>), é uma ferramenta utilizada para construir páginas web que serão interpretadas por navegadores. Seu site oficial é o <a href="" target="_blank">https://www.w3.org/html/</a></p>
        </article>
    </div>
    <div class="technologies__tech">
        <h3>CSS 3</h3>
        <article>
            <p></p>
        </article>
    </div>
    <div class="technologies__tech">
        <h3>JavaScript</h3>
        <article>
            <p></p>
        </article>
    </div>
    <div class="technologies__tech">
        <h3>Node.js</h3>
        <article>
            <p></p>
        </article>
    </div>
</div>