<div class="technologies">
    <h2>Ferramentas</h2>
    <div class="technologies__desktop">
        <div class="technologies__tech">
            <article>
                <h3>HTML 5</h3>
                <p>Conhecida como Linguagem de Marcação de Hipertexto (ou, em inglês, <span class="italic">Hypertext Markup Language</span>), é uma ferramenta utilizada para construir páginas web que serão interpretadas por navegadores. Seu site oficial
                    é o
                    <a href="https://www.w3.org/html/" target="_blank">https://www.w3.org/html/</a></p>
            </article>
        </div>
        <div class="technologies__tech">
            <article>
                <h3>CSS 3</h3>
                <p> <span class="italic">Cascading Style Sheets</span> ou Folha de Estilo em Cascatas é um recurso utilizado para estilizar um documento web. É a ferramenta que dá estilo ao HTML. Site oficial: <a style="display: block" href="https://www.w3.org/Style/CSS/Overview.en.html"
                        target="_blank">https://www.w3.org/Style/CSS/</a> </p>
            </article>
        </div>
        <div class="technologies__tech">
            <article>
                <h3>JavaScript</h3>
                <p>De acordo com a <a href="https://pt.wikipedia.org/wiki/JavaScript" target="_blank">página oficial da Wikipédia</a>, JavaScript "é uma linguagem de programação interpretada estruturada, de script em alto nível com tipagem dinâmica fraca
                    e multiparadigma (protótipos, orientado a objeto, imperativo e, funcional)." No contexto do desenvolvimento web, o JS é responsável por definir o comportamento de um website. Site oficial: <a href="https://www.javascript.com/" target="_blank">https://www.javascript.com/</a></p>
            </article>
        </div>
        <div class="technologies__tech">
            <article>
                <h3>Node.js</h3>
                <p>O Node.js é um software que permite a execução d códigos JavaScript fora de navegadores web, uma vez que ela só pode ser interpretada dentro destes. Isto permite que o JS, uma linguagem usada principalmente no front-end, seja usada também
                    no back-end. O site oficial é <a href="https://nodejs.org/" target="_blank">https://nodejs.org/</a></p>
            </article>
        </div>
    </div>
</div>